fastapi  # Changed from 0.111.0
uvicorn==0.30.1
playwright==1.45.1
beautifulsoup4==4.12.3
spacy==3.7.2
textstat==0.7.3
extruct==0.17.0
w3lib==2.1.2
sentence-transformers==3.0.1
numpy==1.26.4
langchain-community==0.2.10
langchain-chroma==0.1.2
langchain-openai==0.1.20
pydantic==1.10.15
python-dotenv==1.0.1
aiohttp==3.9.5
